*/{
    margin: 0;
    padding: 0;
  
}
header{
    background-color: rgb(36, 153, 114);
    border: black solid;
    padding-bottom: 1%;
    
    margin-top:-3px ;
}
input{
    width: 100px;
    padding-bottom: 1%;
    padding-right: 1%;
    text-align:start;  
    border: black  solid;
    font-size: 15px;  
}
#gridheader{
    display: grid;
    grid-template-columns: 800px 400px  ;
    align-items: center;
    justify-content: space-between;

}
#logo{
    margin: 0px 0px 0px 14px;
}
main{
    display: grid;
    border: black solid;
    
}
.videos{
    display: grid;
   width: 350px;
   
   border: 1px solid black;
   margin: 100px;
 
}

footer{
    border: solid 1px black;
}
video{
    width: 100%;
}
section{
    display: flex;
    flex-wrap: wrap;
    
}
#h1{
    text-decoration: none;
    
}
#logo a{
    text-decoration: none;
}
footer{
    text-align: center;
    border:black solid ;
    background-color: rgb(36, 153, 114);
}